@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: "Macnik";
  src: url('./fonts/Macnik.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: "Macnik", sans-serif;
}
